---
import BaseLayout from "../layouts/BaseLayout.astro";
import HeroHeader from "../components/HeroHeader.astro";
import PostPreview from "../components/PostPreview.astro";
import Pager from "../components/Pager.astro";

const BASE = import.meta.env.BASE_URL || '/';
---

<BaseLayout title="洛穹偎的一家言 - 个人主页">
  <HeroHeader
    title="洛穹偎的一家言"
    subtitle="一个百合爱好者的随笔"
    background=`${BASE}assets/img/home-bg.jpg`
  />

  <main class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">

        <PostPreview
          href=`${BASE}post/fall_of_a_city/`
          title="一座城之死"
          subtitle="微尘另册 1.2"
          meta="Posted on July 08, 2025, uploaded on October 07, 2025"
        />

        <PostPreview
          href=`${BASE}post/BOCCHI_THE_ROCK!/`
          title="《孤独摇滚》：孤独的心"
          subtitle="但是有你在，或许就不孤独？"
          meta="Posted on February 15, 2025, uploaded on October 08, 2025"
        />

        <Pager href=`${BASE}articles/` text="Older Posts →" />
      </div>
    </div>
  </main>
</BaseLayout>
