---
import PostLayout from "../../layouts/PostLayout.astro";
---

<PostLayout
  title="《孤独摇滚》：孤独的心"
  subtitle="但是有你在，或许就不孤独？"
  date="February 15, 2025"
  upload="October 08, 2025"
  background="../assets/img/post2-bg.jpg"
>
  <span class="caption text-muted">头图来自pixiv</span>

    <p>当《ave mujica》中和解的泪水在屏幕里落下时，我的指间始终却压在三倍速快进键上。那些或暗黑或神圣的人设、那些或分裂或执拗的思维，都与我隔着一层磨砂玻璃。所以我向后退，退到那个《孤独摇滚》的live片段——后藤一里蜷缩在纸箱里颤抖的吉他弦，我才明白，那抖动的或许也是我停滞已久的心弦。</p>
    <p>幸福的阳角倒不算千篇一律，孤独的少女却真是各有各的孤独。但是，除了井芹仁菜、高松灯或后藤一里更像是孤独的，我明明看到当虹夏元气满满地敲响架子鼓时，扬起的鼓棒中分明带着逞强；凉用贝斯和谎言砌起的冰川之下，压抑着一丝暗流；就连永远发着光的喜多，脚下影子突然缩成小小一团，那个把灿烂笑容当拨片使用的女孩，早将成长的毛边偷偷藏进了反复打磨的和弦与指茧里……在livehouse霓虹灯夺目的光芒下没有黑暗，观众看不见的晦暗心事，早被她们悄悄缝进了琴箱。</p>
    <p>把所有欲言又止的局促都谱成了歌，是最温柔却最残忍的魔法。结束乐队在台上用“纽带”共同承担心事；波奇抱着吉他缩进芒果箱的瞬间，还有三万社恐患者同时攥着发烫的手机。原来你我都是波奇。结束乐队何尝不是萌系滤镜下的一面镜子，为每个在现实里走音的孤独者，递上了一副量身定制的安慰剂：我们说不出口的颤音，早有人替我们在琴弦上震动了千万遍。</p>
    <p>可这才是最致命的地方，波奇面对店员仍然社恐，虹夏离梦想还有遥远距离，凉的个性尚未被完全包容。动画让你听见琴弦震颤的孤独，又让你看清这震颤终将消逝在空气里。此刻，我的心跳与屏幕里蜷缩的粉色身影共振，可当演出结束，我们终究要各自抱着孤独的吉他，退回现实——那些被音乐暂时熨平的灵魂，终究会在明日陌生的环境里重新蜷缩。</p>
    <p>但是我反问“那又如何？”，至少我和乐队，和吉他英雄的粉丝，和无数观看过这一作品的观众，有过12乘20分钟的共鸣，也许这里的摇滚就是想告诉我们，这一刻的连结已然弥足珍贵。说老实话，孤独或许真是一种通病。但是最后，当片尾曲《若能化作星座》响起时，我还是愿意相信，“つないだ線 解かないよ 我绝不会将那连结你我的线解开。”</p>
</PostLayout>
