---
import PostLayout from "../../layouts/PostLayout.astro";
import VideoEmbed from "../../components/VideoEmbed.astro";
import bg from "../../assets/img/post3-bg.jpg";

const BASE = import.meta.env.BASE_URL || '/';
---

<PostLayout
  title="逝将去女，适彼乐土"
  subtitle="为曾收获的快乐存档，并主动告别那份日益滋长的疏离。"
  date="October 13, 2025"
  upload="October 13, 2025"
  background={bg}
>
    <p>所有的游戏设计，最终似乎都指向一个终极问题：我们究竟在为何而玩？当最初的新鲜感褪去，那个支撑我们一次次回到那个世界的，究竟是什么？当游戏中的收集本身已经不再具有意义，玩家又将为何而战？直到我看见一个玩家，选择在清空自己游戏内的一切，将全部积累像烟花一样燃尽时，我想我捋清了答案。我对这个问题的回答会是：“玩家会为了‘快乐’而战。”先让我来介绍一款游戏的一些有趣的机制，但由于它曾伤透了我的心，所以我不推荐它，也不写它的名字。</p>
    <p>它属于放置类游戏。可不是放置play，而是一种以“自动化”为核心玩法的游戏类型。玩家在游戏初期进行一些简单的操作，比如点击，设置队列，点几个天赋等，之后即使玩家离线、关闭游戏，游戏内的系统也会自动运行，持续为玩家积累资源。只需每隔一段时间来收个菜，再安排新的生产队列等。我接触过的第一款放置游戏是国产H5页游《愚公移山》，暴漫风格，带有一点点恶趣味。后来也接触过《Cookie Clicker》，国外放置类先驱；以及Git游戏社群，收录了很多模组树或是增量游戏，包括经典的《猫国建设者》的汉化等等；又或者是去年，套了个二次元皮的《剑与远征：启程》等等。不过这些产品大多都在我眼里趋同且有些过于简洁，无外乎“干活，赚资源；干更高级的活，赚更多/更高级的资源”的循环。</p>
    <p>而这款游戏不同，首先，它提供了一个高度自由的匿名市场。</p>
    <p>玩家可以挂若干个匿名卖单，为自己现在手中某类资源定价，也可以挂买单，价格不超过当前卖单的最低价，否则直接以卖单价成交。这个市场的保证金是百分之百，也就是说，只要挂了卖单，货物就得押在市场，直到要么撤单可以无损拿回，要么成交，拿到和你挂的卖价相等的钱；买单也一样，想以某价格买若干个货物，就必须把货款押在市场，直到要么取消，拿回这笔钱，要么买到拿回货。如果有多个卖单价格相同，优先成交最早挂出来的。</p>
    <p>不难理解，市场价格会与为得到某件商品付出的时间成本的期望成正相关。不过也有例外，某些低级产物刷怪会掉落，供远远大于求，就会导致市场价远远低于手搓的理论收益。再比如，观察这个动态循环：某项工作的产物突然涨价，将吸引玩家涌入这项工作，他们就需要买这项工作专用的效率茶，茶可以理解为能提高单位工作时长的产物数量，买茶的成本比提高的量赚得的利润少，所以想要做高单位时间收益必然会买。那么这种茶的价格上升，短视或者说看重短期利益的制茶玩家可能会转而冲泡这种茶，但是，泡好一大批的制作周期需要现实中24个小时或更久，等茶做好，无论是原始产物还是这种茶价格都已回落，反而其它类型的茶因为供应稍微变少而涨价。</p>
    <p>这门市场的学问还是蛮深奥的，以至于有多名资深玩家专门写过各职业的赚钱攻略，挂在了飞书文档上共享，还有人建数据库，记录各种产品的几日历史价格。毕竟，最简单的套利方式便是低价的时候买入，高价的时候卖出，直接就能赚到钱。当你愿意去享受这款游戏时，研究大佬们热心共享的一些想法，成功地猜出来某货会涨，于是提前囤积并高抛，研究市场确实让我在游戏中体会到独属于自己的快乐。</p>
    <p>关于市场本身，还可以举一个值得观察的例子，游戏中有“垄断”的现象。糖是游戏中一种必需品资源，然而一名现金流极庞大的玩家，在10元的位置挂上500m的卖单，同时在9元的位置挂500m的买单。一天的成交量大概是五十多m的糖，所以每次补货就能让他垄断数天的交易，每卖一份赚一块钱，等快卖完了，再扫光后方10块卖单，卖出所有挂在它后面的9块买单，重新上架一批500m的买卖单，继续控盘。也不一定是快买卖完自己的单子再扫货，而是随时可以。这样，除了少数碰运气，能把自己的资源押在市场等待这位大佬扫货，平均几天才挣一笔的玩家，大部分更需要流动资金的玩家只能选择即买即用，或者生产者即生产糖便即卖，毕竟如果卖的不多，卖10元和9元的影响没那么大，以换取流动资金。那么这名玩家就掌控了糖大部分的交易，每笔交易积少成多，他也被其他玩家尊为“糖天帝”。</p>
    <p>除了交易，另一个让我觉得氛围不错的是它的公屏聊天。</p>
    <p>它在全球有大概三四万名玩家，游戏内有英文也有中文聊天区，只要不太过分，什么都能讨论，还可以发雀魂房间捞人打友人局。</p>
    <p>中文聊天区最有趣的节目莫过于游戏中的“炼金宗”和“强化宗”的日常。炼金宗是指每个物品可以被炼为其他物品，有可能更贵，也有可能更便宜，一般情况下收益期望是负的或者微利，不过随着物价的波动，可能有某物突然低价，而产物突然升高，就有可能出现买原料卖产物套利的窗口期，当然等炼完也需要时间，那时候物价可能变了。总的来说，只有等级较高的大炼金师才能凭借比普通玩家高大概1%、2%的高级物品成功率，以及更多的流动资金蹲买低卖高的机会，能赚到更多的钱。炼金中有一项，成功率1%，价格翻大概80倍的项目经常被人分享到交流区，举个例子，某个玩家只购买10颗原料，炼一颗汇报一下，炼出来了就是一本万利，没炼出来？那就再来十颗，直到破产。这些活动无论是成功还是失败，聊天区总有各种“对的对的”“不对不对”的复读机反馈。强化宗也差不多，强化有几率加一级也有几率减一级（哇，还有马尔可夫过程），然后就有玩家实时分享强化进度，可能连着+1+1冲到目标，也可能一路-1-1暴毙，节目效果十足。聊天室经常就是上述内容或者逗萌新，推荐萌新去做不怎么赚钱的职业，当然，大家还是很友好的，逗完了总是会发那个最权威的飞书里的攻略汇总。总之，似乎聊天室里大多都是君子，“善戏谑兮，不为虐兮”。</p>
    <p>这款游戏的物价机制比我描述的更复杂一点，比如对于高价商品有2%的税收机制，比如炼金可能失败，就像一条密西西比河，能倒掉过剩的产品，再比如有玩家在一些微小市场倒钱，不过我已经没办法去继续探索了。当时游戏爆发了一阵大争议，大改战斗机制，让玩家集体受损，再加对于市场垄断、工作室倒金官方拿不出好解决方案的长期怒火，以及游戏管理员们有点处理失当，可能部分玩家也有拱火，总之节奏升级。我当时对游戏团队比较不满，就把全部身家卖出，毁号退坑了。当然，这个毁号本身也完全没违反任何一条市场的规定，退一万步，即使游戏要以任何借口封我的号，我也已经退了，影响不到我。</p>
    <p>后来，我在小黑盒看到有玩家分享他玩三角洲的经历，半退坑，可能连着两个星期不玩后，有点手痒，但上线后，也跟不上游戏理解，还没有最大的保险，玩几局就觉得没意思，又退坑，直到下次手痒回来。</p>
    <p>嗐，或许这也算是一种断舍离。想要不玩某个游戏，光删除客户端没用，删了还能下回来，得把账号清零才能断掉念想；想要改掉某个习惯，光靠意志似乎不够，得整个改变环境，让那个行为做了也只有纯负收益，才能更好的抑制。彻底断掉后，才是轻松吧，我想。</p>
    <p>那么我现在知道什么才是“我为之而战的‘快乐’了”，当我愿意去享受游戏时，我玩游戏就是快乐，反之，已经享受不下去时，就变成了“游戏玩我”。当我们不再能从中获得纯粹的快乐时，或许理性的、聊以自慰的通关策略，就是有勇气亲手封上档，只提取出那些值得记忆或留存的组件与特征，正如我这篇记录所做的；而那些让人不快的成分，任它被风吹去。</p>

    <!--<VideoEmbed src="//player.bilibili.com/player.html?isOutside=true&aid=115377417754420&bvid=BV1Ax4izxEeD&cid=33093258010&p=1" title="晚安，教官" />-->
    <!--<p><span class="spoiler">本文为此而写，尽管我描述的游戏并非三角洲行动，我也不曾玩过三角洲</span></p> -->
    
</PostLayout>
