---
import PostLayout from "../../layouts/PostLayout.astro";
import bg from "../../assets/img/post5-bg.png";

const BASE = import.meta.env.BASE_URL || '/';
---

<PostLayout
  title="救人于戹，振人不赡，仁者有乎"
  subtitle="但这一定是仁吗？"
  date="January 18 2026"
  upload="January 18, 2026"
  background={bg}
>
    <p>提到所谓的“中式RPG”，人们往往会迅速联想到一些题材层面的关键词，无非是江湖武侠、民俗志怪、历史传奇、神话传说，当然了，这只是在解释“中式”这一文化本身，而并不必然是RPG类型。其中一些母题在其他游戏类型中反而更为常见，例如志怪题材往往更多与解谜、恐怖类玩法结合。</p>
    <p>那么既然要说回到RPG上，中式的和日式、西式的一个很可能的叙事上的区别是，普通民众在其中占据的位置，或者说故事是否必须向天下苍生给出解释。一个西式RPG很可能是主角团对抗失控的巨型企业、腐朽的王国、扭曲的宗教，乃至直面黑暗力量甚至弑杀神明，背后推动故事前进的核心，通常来自个体层面的命运，比如血脉的特殊性、或者找回记忆，解除诅咒，寻找亲人，这就使得这个故事几乎只跟主角团有关。这类叙事的情感与道德重心，往往在于主角自身的成长、认同与救赎，整个世界更多地只不过是展现个人命运的舞台。</p>
    <p>相比之下，无论是武侠语境下的“侠之大者”，还是历史题材中以一方势力、一个政权为主体的故事，个人行为相对而言会更倾向于纳入对公共秩序与民生后果的考量。角色的正当性，往往并不只来自其个人遭遇或能力，而需要在“为谁而战”“对谁负责”的问题上给出答案。在这样的故事中，民众、江湖、家国等公共性元素就不仅仅是背景板或任务发布者，而参与构成一切行动是否成立的某种评价体系。</p>
    <p>当然，这不是绝对的，不同流派的作品也存在极大的差异。然后我接触过的作品不算多，这段论述也可以找得到大量反例，比如仙侠作品蛮多其实不过是爽文逻辑，西式中也有质量效应、辐射这些关注文明存亡的作品。只是大概从整体倾向上看，中式RPG更容易将个人英雄放在更具体的历史、社会与公共伦理框架之中，也就使故事不是一条只属于主角的命运线。</p>
    <p>据此，我们进一步可以关注到RPG且主要是中式RPG中的善恶系统问题，它们可能也就不只是阵营划分，而是叙事上“什么是合适的行为”，包括玩家在关键节点所承担的某种程度上的道德后果。中式 RPG 更重视这个问题，由于其本身就更关注行为的社会后果与伦理评价，善与恶也往往不是抽象立场，而是与具体的人、群体和历史情境紧密绑定，是某种更复杂的机制。相较之下，其他的RPG当然也不是不存在道德选择，但在许多作品中，这类选择更常被整合进阵营、好感度等机制，在整个故事的分量也相对有限。</p>
    <p>我个人倾向于认为，一部RPG作品的优秀，可能在于不强行给出唯一正确的善的答案，可以在多个支线乃至最终主线结局中，设计彼此互斥、无法同时成立的选择。这种选项可能很难评价到底哪个比另一个更高尚，也就迫使玩家承认：不同价值之间真的存在冲突，任何选择都伴随着不可回避的损失与代价。善恶因此不再是一个对立的标签。</p>
    <p>这几天品鉴的一款武侠RPG《灵兽江湖》就践行了这个理念。游戏里的人物虽说都是某种程度上的半兽半人，但是更接近于明日方舟的那种兽耳，也有少部分类似于山那种更福瑞的形象。反正我作为一个不太喜欢福瑞的玩家体验游戏的时候对于它的人物形象还是比较接受的。游戏现在还在抢先体验阶段，预计要做六章主线，已经更新了五章，还算得上比较完整，内容体量也算比较大，预计在今年3月更新完成全部主线。养成与经济曲线仍不太平衡，往往依赖刷钱、刷经验技巧才能更顺畅地推进；战斗系统具有一定新意，队伍搭配的自由度较高，多种流派均可成型，也存在几个效率过高、操作成本极低的轮椅构筑。情感剧情有，但相比于更广阔的江湖上正在发生的那些事，可能不那么突出。</p>
    <p>我感觉我在主角身上看到了一点张无忌的影子。</p>
    <p>当然，最值得一提的是它的“网状叙事的非线性多结局”，制作组的说法是游戏中的剧情任务，绝大部分都可以通过改变在剧情中的选择，发现隐藏线索等方式影响故事剧情的走向，从而改变角色结局。的确如此，并且，不只是简单的normal end和good end，还有更多更深刻的追问。我可以提供几个场景：其一，屠灭了主角从小生活在的村子满门的这个势力，在主角强大后杀还是放？其二，一个武艺高强一生行善的老和尚，突发精神错乱屠了一个村子，只剩一个小孩的时候清醒过来，带着绝望和赎罪抚养这个孩子，之后也再未行过坏事，这个人如果被审判，仅剩的孩子也将流离失所，他算善还是恶？其三，一个人为了保护妻女不被异教献祭，寻找武功高强的高手去解决异教，但寻找的方法是以宝物为诱饵让他们去清缴一个强大的妖物，很多侠客都死在了妖物手下，但找到能解决妖物的高手后，也确实愿意献出自己的生命帮助这个高手除掉异教，这个人算善或恶吗？其四，一个富商，平日里救助过很多贫苦的百姓，但不幸儿子得怪病，需要人的心头血才能治，他便去找接受过救助的、愿意用自己的生命交易一笔让家庭里其他人能体面地生存下去的钱的人，买他们的命，经年累月下来也客观上造成了很多人的死亡。如何处理他们在游戏中都是可选的。</p>
    <p>这些场景有一件事是相同的，就是很多人因他们死了。是“冤冤相报何时了”还是以直报怨？在“惩恶”与“纵容”之间做出选择时，能否接受一次新的悲剧？当选择建立在贪欲或绝望之上，它还是正当的吗？归根结底，每一种杀戮，都伴随着一套看似自洽、但彼此似乎无法兼容的道德解释体系。保护谁、牺牲谁、以及由谁来承担不可逆的后果。玩家无法同时保全所有人，只能决定哪一种是自己愿意接受的。这也使得善恶在这里显得尤为复杂。</p>
    <p>事实上，即使与金庸与古龙笔下的江湖相比，他们再怎么写悲剧，叙事权威仍在作者手中，他们维护着一套可理解的善恶因果，哪怕是"悲壮的善"，比如郭靖守襄阳，他的牺牲是明确的，理想也是明确的；再比如楚留香涉及的灰色地带，也是能解释的盗亦有道。甚至可以说是某种身世、江湖规则、性格和小说必须要连载下去的必然。不妨这么说，传统武侠的道德评价基本依赖作者和读者都认可的那个坐标系，而这部作品需要玩家自己评价了。</p>
    <p>正是由于这些选择无法被轻易归类为对或错，《灵兽江湖》的叙事中不断制造出一种道德不适感。我在做出决定时，可能只有一部分的时间感到确信，其他则是迟疑、犹豫，甚至在选择完成后仍然感到隐约的不安。游戏确实没有为我提供一个可以完美适配良心与逻辑的选项。</p>
    <p>然而，也正是在这一点上，这种不适感转化为了作品的独特魅力。它迫我将注意力从如何选到最好结局，转移到我愿意为哪一种后果负责这一更为私人、也更为沉重的问题上。选择除了通往奖励或分支剧情，也成为一次价值立场的反省。某些决定会在事后被潜意识回想，甚至在某种程度上脱离游戏语境后仍然成立。</p>
    <p>如果说许多RPG的善恶系统意在帮助玩家确认自己扮演的是一个怎样的人，那么这款游戏更进一步，它让我意识到，在某些情境中，即使一个能说服自己的道德体系，也无法掩盖选择所带来的伤痕。而这种无法被抚平的感觉，正是其叙事最具深度、也最具武侠精神的部分。</p>

</PostLayout>
