<div class="container text-center my-5">
  <div class="d-flex flex-wrap justify-content-center gap-3">
    <a href="#travel" class="btn btn-outline-primary btn-sm">微尘另册</a>
    <a href="#anime" class="btn btn-outline-primary btn-sm">虹幕小札</a>
    <a href="#books" class="btn btn-outline-primary btn-sm">墨烬编</a>
    <a href="#games" class="btn btn-outline-primary btn-sm">跃迁协议</a>
    <a href="#music" class="btn btn-outline-primary btn-sm">浮声集</a>
  </div>
</div>
