---
import { Image } from "astro:assets";

const BASE = import.meta.env.BASE_URL;
const { title, subtitle, background } = Astro.props;
---

<header class="masthead" style={`background-image: url('${background}')`}>
  <Image
    src={background}
    alt=""
    widths={[576, 768, 992, 1200, 1400]}
    sizes="100vw"
    loading="eager"
    class="masthead-bg"
  />
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7 text-center">
        <div class="site-heading">
          <h1>{title}</h1>
          <span class="subheading">{subtitle}</span>
        </div>
      </div>
    </div>
  </div>
</header>
